@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  color: #374151;
  background-color: #fff;
}

main {
  min-height: 80vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  color: #000;
}

.links-container {
  text-decoration: none;
  font-family: "Inter", sans-serif;
}

.hover-card {
  transition: background-color 0.3s, color 0.3s;
}

.hover-card:hover {
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

.custom-select {
  background-color: #fff; /* White background */
  color: #000; /* Black text */
  border: 1px solid #000; /* Black border */
}

.custom-select:focus {
  background-color: #fff; /* White background */
  color: #000; /* Black text */
  border-color: #000; /* Black border */
  box-shadow: none; /* Remove default blue shadow */
}
